$white: #f1f8fc; $primary:#0074c7; $secondary:#00497c; $dark:#384050; $danger:#cd2c2e; $success:#82b864;
$body-bg:$white; $body-color:#212529;
$theme-colors:("primary":$primary,"secondary":$secondary,"dark":$dark,"danger":$danger,"success":$success);
$border-radius:.6rem; $border-radius-sm:.5rem; $border-radius-lg:.8rem;
