@use "bootstrap/scss/bootstrap" with (
  $primary: #0074c7,
  $secondary: #00497c,
  $dark: #384050,
  $danger: #cd2c2e,
  $success: #82b864,
  $body-bg: #f1f8fc,
  $border-radius: .6rem,
  $border-radius-sm: .5rem,
  $border-radius-lg: .8rem
);
